<a href="https://colab.research.google.com/github/marammohamed123/tasks/blob/main/pandas%20assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Clean the dataset and update the CSV file?Replace all column values which contain ?, n.a, or NaN
import pandas as pd
data=pd.read_csv("CarPrice_Assignment.csv")
new_data=data.dropna()
print(new_data)
data.fillna(0,inplace=True)

     car_ID  symboling                   CarName fueltype aspiration  \
0         1          3        alfa-romero giulia      gas        std
1         2          3       alfa-romero stelvio      gas        std
2         3          1  alfa-romero Quadrifoglio      gas        std
3         4          2               audi 100 ls      gas        std
4         5          2                audi 100ls      gas        std
..      ...        ...                       ...      ...        ...
200     201         -1           volvo 145e (sw)      gas        std
201     202         -1               volvo 144ea      gas      turbo
202     203         -1               volvo 244dl      gas        std
203     204         -1                 volvo 246   diesel      turbo
204     205         -1               volvo 264gl      gas      turbo

    doornumber      carbody drivewheel enginelocation  wheelbase  ...  \
0          two  convertible        rwd          front       88.6  ...
1          two  convertible        rwd          front       88.6  ...
2          two    hatchback        rwd          front       94.5  ...
3         four        sedan        fwd          front       99.8  ...
4         four        sedan        4wd          front       99.4  ...
..         ...          ...        ...            ...        ...  ...
200       four        sedan        rwd          front      109.1  ...
201       four        sedan        rwd          front      109.1  ...
202       four        sedan        rwd          front      109.1  ...
203       four        sedan        rwd          front      109.1  ...
204       four        sedan        rwd          front      109.1  ...

     enginesize  fuelsystem  boreratio  stroke compressionratio horsepower  \
0           130        mpfi       3.47    2.68              9.0        111
1           130        mpfi       3.47    2.68              9.0        111
2           152        mpfi       2.68    3.47              9.0        154
3           109        mpfi       3.19    3.40             10.0        102
4           136        mpfi       3.19    3.40              8.0        115
..          ...         ...        ...     ...              ...        ...
200         141        mpfi       3.78    3.15              9.5        114
201         141        mpfi       3.78    3.15              8.7        160
202         173        mpfi       3.58    2.87              8.8        134
203         145         idi       3.01    3.40             23.0        106
204         141        mpfi       3.78    3.15              9.5        114

     peakrpm citympg  highwaympg    price
0       5000      21          27  13495.0
1       5000      21          27  16500.0
2       5000      19          26  16500.0
3       5500      24          30  13950.0
4       5500      18          22  17450.0
..       ...     ...         ...      ...
200     5400      23          28  16845.0
201     5300      19          25  19045.0
202     5500      18          23  21485.0
203     4800      26          27  22470.0
204     5400      19          25  22625.0

[205 rows x 26 columns]

In [2]:
#Exercise 2: Find the most expensive car company name?
import pandas as pd
data=pd.read_csv("CarPrice_Assignment.csv")
max_car=data[['CarName','price']][data.price==data['price'].max()]
print(max_car)

                            CarName    price
74  buick regal sport coupe (turbo)  45400.0

In [3]:
import pandas as pd
df=pd.read_csv("CarPrice_Assignment.csv")
car_Manufacturers = df.groupby('CarName')
audiDf = car_Manufacturers.get_group('audi 100 ls')
print(audiDf)

   car_ID  symboling      CarName fueltype aspiration doornumber carbody  \
3       4          2  audi 100 ls      gas        std       four   sedan

  drivewheel enginelocation  wheelbase  ...  enginesize  fuelsystem  \
3        fwd          front       99.8  ...         109        mpfi

   boreratio  stroke compressionratio horsepower  peakrpm citympg  highwaympg  \
3       3.19     3.4             10.0        102     5500      24          30

     price
3  13950.0

[1 rows x 26 columns]

In [4]:
#Exercise 4: Count total cars per company?
import pandas as pd
df=pd.read_csv("CarPrice_Assignment.csv")
df['CarName'].value_counts()

toyota corona           6
toyota corolla          6
peugeot 504             6
subaru dl               4
mitsubishi mirage g4    3
                       ..
mazda glc 4             1
mazda rx2 coupe         1
maxda glc deluxe        1
maxda rx3               1
volvo 246               1
Name: CarName, Length: 147, dtype: int64

In [5]:
# Find each companyâ€™s Higesht price car
import pandas as pd
df=pd.read_csv("CarPrice_Assignment.csv")
car_Manufacturers = df.groupby('CarName')
priceDf = car_Manufacturers['CarName','price'].max()
print(priceDf)

                                           CarName    price
CarName
Nissan versa                          Nissan versa   5499.0
alfa-romero Quadrifoglio  alfa-romero Quadrifoglio  16500.0
alfa-romero giulia              alfa-romero giulia  13495.0
alfa-romero stelvio            alfa-romero stelvio  16500.0
audi 100 ls                            audi 100 ls  13950.0
...                                            ...      ...
volvo 246                                volvo 246  22470.0
volvo 264gl                            volvo 264gl  22625.0
volvo diesel                          volvo diesel  18950.0
vw dasher                                vw dasher  11595.0
vw rabbit                                vw rabbit   9980.0

[147 rows x 2 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """